/* importando fonte */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  background: #f6f6f6 0% 0% no-repeat padding-box;
  font-family: "Figtree", sans-serif;
  padding: 2rem;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  background-color: #e30613;
  color: white;
  border-radius: 15px;
  padding: 1.5rem;
  width: 400px;
  overflow: hidden;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f4b400;
  color: white;
  font-weight: bold;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.profile-info h2 {
  margin: 0;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
}

.profile-info h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.description p {
  font-size: 0.95rem;
  margin: 0;
}

.logo {
  position: absolute;
  bottom: 8px;
  right: 0px;
  opacity: 0.08;
  z-index: 0;
  pointer-events: none;
  display: block;
}

.logo::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at bottom left,
    rgba(0, 0, 0, 0.9),
    transparent 70%
  );
}

.logo img {
  max-width: 200px; /* ajuste o tamanho conforme o necessário */
  height: auto;
  filter: brightness(0);
}
